:root {
	--bg: white;
	--fg: black;
	--pre-bg: #eee;
	@media (prefers-color-scheme: dark) {
		--bg: #111;
		--fg: white;
		--pre-bg: #333;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: var(--bg);
	color: var(--fg);
}

main {
	max-width: 650px;
	margin: 0 auto;
}

.row {
	margin: 5px 0;

	display: flex;
	flex: row wrap;
	gap: 4px;
	label {
		display: flex;
		flex: row wrap;
		gap: 4px;
	}
	input[type="text"],
	label,
	.grow-me {
		flex: 1 1 auto;
	}
}
input[type="number"] {
	width: 6em;
}
.indent {
	margin-left: 2em;
}
.help {
	display: inline-block;
	border-radius: 30em;
	background: #aaa;
	color: white;
	width: 1em;
	height: 1em;
	text-align: center;
	font-size: 0.8em;
}
.help-popup {
	position: relative;
	> div {
		position: absolute;
		background: var(--bg);
		border: 1px solid var(--fg);
		padding: 8px;
		width: 20em;
		display: none;
		font-size: 0.9em;
		&.shown {
			display: block;
		}
	}
}
.extra {
	color: grey;
	font-size: 0.6em;
}
input[type="text"],
input[type="number"],
select {
	border: 1px solid grey;
	border-radius: 2px;
	padding: 2px 4px;
	background: var(--bg);
	&:invalid {
		border-color: red;
	}
}
pre {
	border: 1px solid grey;
	background-color: var(--pre-bg);
	padding: 12px;
	user-select: all;
}
