<!DOCTYPE html>
<html lang="<%= lang %>">
	<head></head>
	<body>
		<main>
			<select id="lang-select"><%= lang_options %></select>
			<h1><%= i18n.title(s => `<a href="https://github.com/typst/hayagriva">${s}</a>`) %></h1>
			<div id="<%= mountId %>"></div>
		</main>
		<footer>
			<a href="https://github.com/SabrinaJewson/hayagen">GitHub</a>;
			<a href="https://github.com/typst/hayagriva/blob/c0f1f95a5bdf4e639dbcc694f126d2764eac4639/docs/file-format.md">file format documentation</a>
		</footer>
	</body>
</html>
